{% load static %}
<div class="flex items-center gap-4 [&>a:hover]:underline">
    <div class="flex items-center gap-1">
        {% if post.likes.count %}
        {% if user in post.likes.all %}
        <img class="w-4 -mt-1" src="{% static 'images/fireheart_red.svg' %}">
        {% else %}
        <img class="w-4 -mt-1" src="{% static 'images/fireheart.svg' %}">
        {% endif %}
        {{ post.likes.count }}
        {% endif %}
    </div>
    {% if user.is_authenticated and user != post.author %}
        <a hx-get="{% url 'like-post' post.id %}"
        hx-target="closest div"
        hx-swap="outerHTML"
        class="cursor-pointer">
            {% if user in post.likes.all %}
            <b>Liked</b>
            {% else %}
            Like
            {% endif %}
        </a>
    {% endif %}
</div>