{% load static %}
<div class="flex items-center gap-4 [&>a:hover]:underline">
    <div class="flex items-center gap-1">
        {% if reply.likes.count %}
        {% if user in reply.likes.all %}
        <img class="w-4 -mt-1" src="{% static 'images/fireheart_red.svg' %}">
        {% else %}
        <img class="w-4 -mt-1" src="{% static 'images/fireheart.svg' %}">
        {% endif %}
        {{ reply.likes.count }}
        {% endif %}
    </div>
    {% if user.is_authenticated and user != reply.author %}
        <a hx-get="{% url 'like-reply' reply.id %}"
        hx-target="closest div"
        hx-swap="outerHTML"
        class="cursor-pointer">
            {% if user in reply.likes.all %}
            <b>Liked</b>
            {% else %}
            Like
            {% endif %}
        </a>
    {% endif %}
</div>