{% extends 'layouts/d.html' %}
{% load static %}

{% block content %}
<inbox class="grid grid-cols-5 sm:grid-cols-4 h-[calc(100vh-8rem)] md:h-[calc(100vh-12rem)] shadow-2xl rounded-2xl mx-1 lg:mx-10 xl:mx-48">
    <div x-data="{ modal_open: false }" class="col-span-1 bg-slate-10 rounded-l-2xl p-2 overflow-y-auto">

        <div class="p-0 sm:p-4 mb-3 sticky top-0 z-10">
            <a @click="modal_open = true" class="flex cursor-pointer items-center justify-center h-14 sm:h-16 gap-2 bg-indigo-600 hover:bg-indigo-700 text-white rounded-full">
                <img class="h-6 m-auto lg:m-0" src="https://img.icons8.com/external-anggara-glyph-anggara-putra/32/ffffff/external-edit-user-interface-anggara-glyph-anggara-putra.png">
                <div class="hidden lg:block text-white rounded-full font-bold">New Message</div>
            </a>
        </div>

        <div x-show="modal_open" x-cloak class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
            <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
              <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                <div class="relative transform overflow-hidden rounded-2xl bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                  <div @click.away="modal_open = false" class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">

                        <h3 class="text-xl font-bold mb-4" id="modal-title">
                            New Message
                        </h3>
                        <div id="new-message">
                            <div class="flex gap-2 items-center">
                                <span class="font-bold">To:</span>
                                <input class="p-3 w-screen lg:full" placeholder="Search user ..." type="text" name="search_user">
                            </div>
                            <div id="search-results" class="block h-60 overflow-y-auto">
                                <ul id="user-list" class="mt-2">
                                    <li>
                                        <a href="" class="flex items-center gap-1 hover:bg-zinc-100 rounded-lg p-2 cursor-pointer">
                                            <img class="w-10 h-10 object-cover rounded-full mr-1" src="https://img.icons8.com/color/48/cookie-monster.png">
                                            <div class="font-bold">Pete <span class="text-xs font-normal text-zinc-500">@pete</span></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="flex items-center gap-1 hover:bg-zinc-100 rounded-lg p-2 cursor-pointer">
                                            <img class="w-10 h-10 object-cover rounded-full mr-1" src="https://img.icons8.com/color/48/cookie-monster.png">
                                            <div class="font-bold">Pete <span class="text-xs font-normal text-zinc-500">@pete</span></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% include 'a_inbox/my_conversations.html' %}

    </div>
    {% include 'a_inbox/conversation.html' %}
</inbox>


<script>
    function scrollToBottom() {
            const container = document.getElementById('conversation');
            container.scrollTop = container.scrollHeight;
        }

    window.onload = function() {
        scrollToBottom();
    };
</script>
{% endblock %}